@model Portfolio.ViewModels.PostComments

@{
    ViewData["Title"] = "Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Post.Title</h1>
<p><small>@Model.Post.Date.ToString("MM/dd/yyyy")</small></p>
<br>
<p>@Model.Post.Content</p>
@{ Model.Comment.Author = User.Identity.Name; }
@using (Html.BeginForm("Detail"))
{
    @Html.HiddenFor(model => model.Comment.Author)
    @Html.DisplayFor(model => model.Comment.ContentBody)
    @Html.TextAreaFor(model => model.Comment.ContentBody)
    @Html.HiddenFor(model => model.Comment.PostId)

    <input type="submit" value="Add Comment" />
}
@foreach(var comment in Model.Post.Comments)
{
    <div class="confirm-delete-@(@comment.CommentId)">
    <h4>@comment.Author</h4>
    <p>@comment.ContentBody</p>
    @if(User.Identity.Name == @comment.Author || User.IsInRole("Administrator") || User.IsInRole("Moderator"))
    {
        <form class="delete-comment">
            <input type="hidden" name="id" value="@comment.CommentId" />
            <button type="submit">Delete Comment</button>
        </form>
    }
	</div>
}
@Html.ActionLink("Blog", "Index")
<script type="text/javascript">
    $(document).ready(function(){
        $('.delete-comment').submit(function(event){
	        event.preventDefault();
	        var x = $(this).serialize();
	        $.ajax({
	            url: '@Url.Action("Delete")' ,
	            type: 'POST',
	            data: $(this).serialize(),
	            success: function(result) {
	                $('.confirm-delete-' + result).html("Comment Deleted");
	                setTimeout(function() {
	                    $('.confirm-delete-' + result).html("");
	                }, 3000);
	            }
	        })
	    })
	})
</script>