@{
    ViewData["Title"] = "Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(User.IsInRole("Administrator") || User.IsInRole("Moderator"))
{
<input class="add-post" type="button" value="Add Post" />
<div id="add-form"></div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.add-post').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("CreatePost")',
                success: function (result) {
                    $('#add-form').html(result);
                }
            })
        })
    })
</script>

@foreach(var post in Model)
{
    <h2><a href='@Url.Action("Detail", new {PostId = post.PostId})'>@post.Title</a></h2>
    <p><small>@post.Date.ToString("MM/dd/yyyy")</small></p>
    <p>@post.Content.Substring(0, Math.Min(post.Content.Length, post.Truncate()))...</p>
}