<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css">
    </environment>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="account">
            @if (User.Identity.IsAuthenticated)
            {
                <p>Hello @User.Identity.Name!</p>
                using (Html.BeginForm("LogOff", "Account"))
                {
                    <input type="submit" class="btn btn-default" value="Log out" />
                }
            }
            else
            {
                <p>@Html.ActionLink("Register", "Register", "Account") | @Html.ActionLink("Login", "Login", "Account")</p>
            }
        </div>
        <div class="links">
			<div class="logo">
                <a href="/"><img src="/images/taco.png"></a>
            </div>
            <p> @Html.ActionLink("Blog", "Index", "Post")</p>
            <p> @Html.ActionLink("About Me", "About", "Home") </p>
            <p> @Html.ActionLink("Contact Page", "Contact", "Home")</p>
        @if(User.IsInRole("Administrator"))
        {
            <p class="role">@Html.ActionLink("Role", "Index", "Role")</p>
        }
        </div>
	</div>
        <hr />
	<div class="container">
        @RenderBody()
    </div>
</body>
</html>